* {
     transition: all 0.5s ease;
}
body {
    background: black;
    color: white;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
    background-image: url("../../gpsmap.jpg");
}
.sidenav {
    min-height: 60%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 343px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.textBig {
	padding: 20px;
	font-size: 75px;
	
}
.slidecontainer {
    width: 100%;
}
.voice_car{
	text-align: right;
	font-style: italic;
	color: blue;
	
}
.voice_me{
	
	text-align: left;
	font-style: italic;
	color: white;
	
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: blue;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: blue;
    cursor: pointer;
}
.icon1 {
    background: red;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

.imgs {
	height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 150px;
}
.imgs_tiny{
	height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px;
	
}
	
.core_button{
	margin: 4px;
	
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#top-bar{
	border: 2px solid;
	padding: 25px;
	
}
.img_gps{
	
	width:95%;
	height:40%;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.side_menu_button{
    width: 60px;
    height: 60px;
    z-index: 1 !important;
    position: relative;
}

.iframe_size{
    width: 1500px;
    height: 10000px;
}

.slider {
    width: 100%;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.sliderz {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 70%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.sliderz:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.sliderz::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.sliderz::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
td 
{
	font-size: 50px;
	text-align: left;
	width:200px;
	height:100px;
	border:solid 1px;
}

.notification{
    background: #222324;
    border-radius: 5px;

    position: absolute;
    left: 25%;
    top: 90vh;
    width: 75%;
    max-width: 667px;
    text-align: center;
}

.controlPanel{
    margin-top: 35%;
}